/*.center {
    height: 200px;

    position: fixed;
    top: 30%;
    left: 50%;
    margin-top: -100px;
    margin-left: -200px;

}*/

.center {
    margin-top: 3em;

    background: #2c3e50;
    padding: 2%;

    z-index: 15;
    box-shadow: 0px 2px 10px 0px rgba(50, 50, 50, 0.5);
    border: 3px solid deepskyblue;
    /*#59abe3;*/
    transition: 0.4s ease-in-out;

}

.right-align {
    text-align: right;
}

.selection-layout {
    width : 600px;
}
.reveal-modal {
    color: #008CBA;
}

h1, h2, h3, h4, h5, h6{
    color: white;
}

.reveal-modal .title {
    color: white;
    background-color: #008CBA;
    padding: 0.3rem 1.5rem;
    border-radius: 6px;
    margin-right: 2.5rem;
}

* {
    box-sizing: border-box;
}

body {
    padding: 20px;
    color: white;
    background-image:url("../img/background5.jpg");
}

hr {
    color: darkgrey;
    width: 90%;
    margin: 0.5em;
}

.circle-bg {
    padding: 0.5em;
    text-align: center;
    opacity: 0.9;
    border-radius: 30%;
    height: 5rem;
    width: 5rem;
    background: #008CBA;
}

.vertical-divider
{
    content: "";
    width: 0px;
    height: 3em;
    border-right: 1px solid #b4b4b4;
    border-left: 1px solid #b4b4b4;
    padding: 0;
    display: inline-block;
}


.size-16 { font-size: 16px; }

.size-18 { font-size: 18px; }

.size-20 { font-size: 20px; }

.size-24 { font-size: 24px; }

.size-36 { font-size: 36px; }

.size-48 { font-size: 48px; }
