* {
    box-sizing: border-box;
}

body {
    padding: 20px;
    background: #2c3e50;
}

.room-list {
    margin: auto;
    width: 300px;
    background: #3498db;
    border-radius: 5px;
    border: 1px solid #196090;
}
.room-list input {
    width: 100%;
    display: block;
    padding: 10px;
    border-radius: 5px 5px 0px 0px;
    border: 0;
    font-size: 24px;
}
.room-list input:focus {
    outline: none;
}
.room-list ul {
    margin: 0;
    padding: 0;
}
.room-list ul li {
    list-style-type: none;
    margin: 0;
    color: white;
    padding: 10px 20px;
    border-top: 1px solid #196090;
}
.room-list ul li:hover {
    background: #2980b9;
}